
#welcome{
    z-index: 2;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 200px;
    left: 900px;
}

#logo{
    height: 80px;
    width: 80px;
    left: 90%;
    position: absolute;
}
#doc2{
    z-index: 1;
    height: 500px;
    position: absolute;
    width: 400px;
    top: 228px;
    left: 1060px;
}

#box{
    position: absolute;
    height: 26%;
    width: 27.2%;
    top: 28%;
    left: 8%;
    background-color:#0cc0df ;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    scale: 1.1;
}

form{
    top: 8%;
    left: 2%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}


input[type="email"],
input[type="password"] {
    width: 200%;
    margin: 10px;
    height: 40px;:
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;

}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    position: relative;
    top: 2%;
    left: 60%;
    height: 40px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}

input[type="submit"]:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

#forgotpassword{
    background: none;
    color: black;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 56%;
    left: 12.5%;
    height: 40px;
    width: 250px;
    font-size: 15px;
}